<nav class="navbar navbar-expand-lg navbar-dark px-3" >
    <div class="container-fluid p-2">
        <a class="h1 font text-dark text-decoration-none" href="/">
            <img class='mb-2' src="https://cdn-icons-png.flaticon.com/512/2094/2094284.png" height="48">
            Koow-News
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png" height="32">
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto mb-2 px-3 mb-lg-0">

            </ul>
            <div class="d-flex px-3">
                <% if (login) { %>
                    <a href='/new_post/'><button type="button" class="btn btn-success mx-2">Додати новину</button></a>
                <% } %>

                    <a href='/losses/'><button type="button" class="btn btn-primary font">Втрати росії</button></a>
                    <a href='/about/'><button type="button" class="btn btn-warning mx-2 font">О нас</button></a>
            </div>
        </div>

        
    </div>
    </div>
</nav>