<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
        <title>Вход</title>
</head>

<body>

    <form method="post" class="mx-auto width-2">
        <h2 class="font" align="center">Вход в админ панель</h2>
        <div class="pt-5 mb-3">
            <label for="exampleInputEmail1" class="form-label">Login</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="login_" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name='password_' class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-warning">Войти в аккаунт</button>
    </form>

</body>

</html>